<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDotehSak4_xQEoF37u6FwLwUEAKIw1bWY</string>
	<key>GCM_SENDER_ID</key>
	<string>633174592674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.hrm-manager</string>
	<key>PROJECT_ID</key>
	<string>hrm-metal-745e1</string>
	<key>STORAGE_BUCKET</key>
	<string>hrm-metal-745e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633174592674:ios:57a8849571e8a2998edbfb</string>
</dict>
</plist>